* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 1px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: black;
}
body {
	font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 20px;
}
.taskBox {
	width: 100%;
	border: 1px solid black;
	gap: 10px;
	background-color: rgb(236, 225, 249);
	padding: 20px;
	box-sizing: border-box;
	min-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.taskBox > p {
	padding: 10px;
	height: 80%;
	overflow-y: scroll;
}

.editBtn {
	width: 100px;
	height: 50px;
	border: none;
	background-color: lightblue;
	border: 1px dashed blue;
	font-size: 18px;
	color: blue;
}
