body {
	padding: 10px;
	background-color: #EAE2B7;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Aboreto', cursive;
	color: #003049;
}

h4,
h5,
h6 {
	font-weight: 400;
}

h1 {
	width: 100%;
	text-align: center;
}

button {
	border: none;
	width: 50%;
	max-height: 30px;
	border-radius: 20px;
	padding: 3px 0px 3px 0px;
}

button:hover {
	cursor: pointer;
	opacity: 0.7;
}

::-webkit-scrollbar {
	width: 1px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: black;
}

.wrapper {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.modal {
	background-color: rgba(7, 7, 7, 0.8);
	color: wheat;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
}

.editBox > * {
	height: 50px;
	background-color: grey;
	border: none;
	text-align: center;
	width: 50%;
}
